<h1>Plants#show</h1>
<p>Info page of the plan</p>

<h1>temporary show</h1>

<h2>Common name</h2>
<p><%= @plant.common_name %></p>

<h2>Nickname</h2>
<p><%= @plant.nickname %></p>

<h2>Watering interval</h2>
<p><%= @plant.watering_interval %></p>

<h2>Personality</h2>
<p><%= @plant.personality %></p>

<h2>PLANT</h2>
<p><%= @plant.personality_tags %></p>
