<div class="auth-page">
  <div class="auth-container">

    <!-------------->
    <div class="auth-logo">


      <%= image_tag "pokeplant-logo.svg", class: "auth-logo-svg", alt: "PokePlant logo" %>

    </div>
    <!----------->

    <div class="pixel-card">

      <div class="auth-tabs">
        <a href="<%= new_user_session_path %>" class="auth-tab auth-tab--active">
          Log In
        </a>
        <a href="<%= new_user_registration_path %>" class="auth-tab">
          Sign Up
        </a>
      </div>

      <div class="pixel-card-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <%= f.input :login,
              label: false,
              label_html: { class: "pixel-label" },
              wrapper_html: { class: "pixel-form-group" },
              input_html: {
                class: "pixel-input",
                placeholder: "Your_nickname",
                autocomplete: "username",

              },
              required: false,
              autofocus: true %>

          <%= f.input :password,
              label: false,
              label_html: { class: "pixel-label" },
              wrapper_html: { class: "pixel-form-group" },
              input_html: {
                class: "pixel-input",
                placeholder: "Your_password",
                autocomplete: "current-password"
              },
              required: false %>

          <% if devise_mapping.rememberable? %>
            <div class="pixel-remember">
              <%= f.input :remember_me, as: :boolean, label: "Remember Me" %>
            </div>
          <% end %>

          <div class="pixel-form-actions">
            <%= f.button :submit, "▶ Login", class: "pixel-btn w-100" %>
          </div>

        <% end %>

        <div class="auth-links">
          <%= link_to "No account? Sign Up Here", new_user_registration_path, class: "pixel-link" %>
        </div>
      </div>
    </div>

  </div>
    <div >
    </div>
</div>
      <%= image_tag "version.svg", class: "auth-version-svg", alt: "version" %>
